<head>
    <title>Pad Calculator Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="module" src="./UI.js"></script>
</head>

<body>
    <a href="https://github.com/dmorrison42/pad-calculator"><img
            style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div id="app">
        <select v-model="mode">
            <option value="simulator">Pad Simulator</option>
            <option value="calculator">Pad Calculator</option>
        </select>
        <select v-model="reflection">
            <option value="vswr">VSWR</option>
            <option value="returnLoss">Return Loss</option>
            <option value="impedance">Impedance</option>
            <option value="all">TMI</option>
        </select>
        <select v-model="resistorSeries" v-if="mode === 'calculator'">
            <option v-for="name in seriesList" :value="name">{{name}}
                ({{tolerances(name).map(n => n + '%').join(', ')}})</option>
        </select>
        <table v-if="mode=='simulator'">
            <tr>
                <td>
                    Shunt In
                </td>
                <td>
                    <input v-model.number="shuntIn" type="number">
                </td>
                <td>
                    Circuit Input Impedance
                </td>
                <td>
                    Circuit Output Impedance
                </td>
            </tr>
            <tr>
                <td>
                    Series
                </td>
                <td>
                    <input v-model.number="series" type="number">
                </td>
                <td>
                    <input v-model.number="circuitIn" type="number">
                </td>
                <td>
                    <input v-model.number="circuitOut" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    Shunt Out
                </td>
                <td>
                    <input v-model.number="shuntOut" type="number">
                </td>
            </tr>
        </table>
        <pad-list :pad="pad" :single="mode=='simulator'" :keys="simulatorValues" v-if="mode=='simulator'"
            @select-pad="selectPad">
        </pad-list>
        <table v-if="mode=='calculator'">
            <tr>
                <th>
                    Attenuation
                </th>
                <th>
                    Circuit Input Impedance
                </th>
                <th>
                    Circuit Output Impedance
                </th>
            </tr>
            <tr>
                <td>
                    <input v-model.number="attenuation" step="0.1" type="number">
                </td>
                <td>
                    <input v-model.number="circuitIn" type="number">
                </td>
                <td>
                    <input v-model.number="circuitOut" type="number">
            </tr>
        </table>
        <pad-list :pad="pad" :series="resistorSeries" :keys="calculatorValues" v-if="mode=='calculator'"
            @select-pad="selectPad">
        </pad-list>
    </div>
</body>